.profile {
  display: flex;
  justify-content: space-between;
  align-items: start;
  margin-top: 25px;
}
.profile h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 80%;
}
.profile .form {
  margin-left: 10px;
  margin-top: 25px;
  width: 20%;
}
.profile .form p {
  width: 100%;
}
.profile .form-field {
  width: 100%;
  font-size: 24px;
  color: #57A094;
  background: transparent;
  border: none;
  outline: none;
  text-align: center;
  height: 60px;
  border-bottom: 1px solid #297C6E;
}
.profile .form-date {
  width: 33%;
  font-size: 24px;
  color: #57A094;
}
.profile .form-submit {
  font-size: 24px;
  color: #FFFFFF;
  background: #57A094;
  border: none;
  outline: none;
  width: 100%;
  padding: 5px 1%;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}
.profile .form-submit:hover {
  cursor: pointer;
}
.profile .grid {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 80%;
}
.profile .grid .row {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.profile .grid .row .cell {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  width: 15%;
  margin: 25px;
}
.profile .grid .row .cell_header {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  border-bottom: 1px solid black;
  padding: 5px;
  background-color: #57A094;
  color: #FFFFFF;
}
.profile .grid .row .cell_header-delete {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #57A094;
  border: none;
  outline: none;
  text-align: center;
  color: #297C6E;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  margin-left: 10%;
  font-size: 18px;
  text-decoration: none;
}
.profile .grid .row .cell_header-delete:hover {
  color: #FFFFFF;
}
.profile .grid .row .cell_header-accept {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #57A094;
  border: none;
  outline: none;
  text-align: center;
  color: #297C6E;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  margin-right: auto;
  font-size: 18px;
  text-decoration: none;
}
.profile .grid .row .cell_header-accept:hover {
  cursor: pointer;
  color: #FFFFFF;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}
.profile .grid .row .cell_body {
  margin: 10px;
  color: #297C6E;
  font-weight: 700;
}
.profile .grid .row .cell_body-vacancy {
  margin-bottom: 15px;
  text-align: center;
}
.profile .grid .row .cell_body-address {
  text-align: center;
}
.profile .grid .row .cell_footer {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-top: 1px solid black;
  padding: 5px 25px;
}
.profile .grid .row .cell_footer-code {
  color: #57A094;
}

/*# sourceMappingURL=profile.css.map */
