{% extends "base.html" %}
{% load static %}
{% block extrahead %}
    <link rel="stylesheet" href="{% static 'css/account/vacancies.css' %}">
{% endblock %}

{% block title %} - Vacations{% endblock %}

{% block header %}
    <div class="header_data">
        <span>{{ request.user.first_name }}</span>
        <span>{{ request.user.last_name }}</span>
    </div>
    <div class="header_auth">
        <a href="{% url 'account:profile' %}" class="header_auth-btn">Profile</a>
        <a href="{% url 'account:logout' %}" class="header_auth-btn">Log out</a>
    </div>
{% endblock %}

{% block content %}
    <div class="vacancies">
        {% if cells %}
            <div class="grid">
                {% for row in cells %}
                    <div class="row">
                        {% for cell in row %}
                            <div class="cell">
                                <div class="cell_header">
                                    {% if is_ro and cell.status == 'Wait' %}
                                        <a href="{% url 'account:vacation_accept' cell.id %}" class="cell_header-accept">v</a>
                                    {% endif %}
                                    <div class="cell_header-date">{{ cell.date }}</div>
                                    {% if cell.status == 'Wait' %}
                                        <a href="{% url 'account:decline' cell.id %}" class="cell_header-delete">✖</a>
                                    {% endif %}
                                </div>
                                <div class="cell_body">
                                    <div class="cell_body-vacancy">{{ cell.vacancy }}</div>
                                    <div class="cell_body-address">{{ cell.address }}</div>
                                </div>
                                <div class="cell_footer">
                                    <div class="cell_footer-code">{{ cell.post_code }}</div>
                                    <div class="cell_footer-status">{{ cell.status }}</div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                {% endfor %}
            </div>
        {% else %}
            <h1>No active vacancies</h1>
        {% endif %}
    </div>
{% endblock %}